<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">
    <title>Resume</title>
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous">
    <!--fonts start-->
    <link rel="preconnect"
          href="https://fonts.gstatic.com"
          crossorigin>
    <link rel="preconnect"
          href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Rajdhani:wght@300&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap"
          rel="stylesheet">
    <!--fonts finish-->
    <style>
        .the-text-is-white {
            color: white;
        }
        .font-text {
            font-family: 'Major Mono Display', monospace;
        }
        .font-of-lists {
            font-family: 'Rajdhani', sans-serif;
        }
        .header-background-color {
            background-color: Gainsboro;
        }
        .right-column-text-font {
            font-family: 'Prompt', sans-serif;
        }
        .date {
            float:right;
        }
        .indent-the-text {
            text-indent: 5%;
        }
        .line-spacing {
            padding: 13.8px;
        }
    </style>
</head>
<body>
    <div class="container mt-3 mb-3">
        <div class="row row-cols-1 row-cols-md-3 g-10">
            <div class="col the-text-is-white">
                <div class="card"  style="background-color:#33475b">
                    <div class="card-title" align="center">
                        <img th:src="${filename}" th:height="${height}" th:width="${width}">
<!--                        <img src="/src/main/resources/static/images/Serge.png" height="294" width="278">-->
                        <h1>SERHII</h1>
                        <h1>KHODAK</h1>
                        <h5 class="font-text">java developer</h5>
                    </div>
                    <hr class="border border-white border-2 opacity-100 col-11">
                    <!-- m-3     ,це класс який встановлює поле зліва (в Bootstrap)-->
                    <div class="card-body m-3">
                        <address>
                            <h5>CONTACTS</h5>
                            <div class="font-of-lists">
                                <h5>+380934516875</h5>
                                <h5>sergey.hodak3@gmail.com</h5>
                                <h5><a href="https://github.com/SergeyHodak">Github</a></h5>
                                <h5><a href="https://www.linkedin.com/in/сергій-ходак-081455250/">Linkedin</a></h5>
                                <h5>Dnipro, Ukraine</h5>
                            </div>
                        </address>
                        <br>
                        <section>
                            <h5>TECH SKILLS</h5>
                            <div class="font-of-lists">
                                <h5>Java</h5>
                                <h5>JDBC</h5>
                                <h5>SQL</h5>
                                <h5>JSON</h5>
                                <h5>Hibernate</h5>
                                <h5>Servlets</h5>
                                <h5>Tomcat</h5>
                                <h5>Spring</h5>
                                <h5>Spring Boot</h5>
                                <h5>H2 Database</h5>
                                <h5>MySQL</h5>
                                <h5>PostgeSQL</h5>
                                <h5>HTML</h5>
                                <h5>CSS</h5>
                                <h5>Bootstrap</h5>
                                <h5>IntelliJ IDEA</h5>
                                <h5>Postman</h5>
                                <h5>Git</h5>
                                <h5>Unit tests</h5>
                                <h5>Scrum</h5>
                                <h5>Kanban</h5>
                            </div>
                        </section>
                        <br>
                        <section>
                            <h5>SOFT SKILLS</h5>
                            <div class="font-of-lists">
                                <h5>Organized</h5>
                                <h5>Willingness to learn</h5>
                                <h5>
                                    Ability to work in a team (Team lead of two projects [
                                    <a href="https://github.com/SergeyHodak/GoIT_Java_Core_Online_5_Project_1">1</a>,
                                    <a href="https://github.com/SergeyHodak/JavaDevelopersTeamProjectGroup2"> 2</a>])
                                </h5>
                            </div>
                        </section>
                        <br>
                        <section>
                            <h5>LANGUAGES</h5>
                            <div class="font-of-lists">
                                <h5>Ukrainian — native</h5>
                                <h5>Russian — fluent</h5>
                                <h5>English — elementary</h5>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <br>
                    <div class="card-body">
                        <section>
                            <h4 class="header-background-color">SUMMARY</h4>
                            <div>
                                <h5 class="right-column-text-font line-spacing">
                                    I changed the direction of work, learned a lot on my own, completed a 10-month Java
                                    developer course, now I am a junior Java developer. I studied hard, and now I want
                                    to put my knowledge into practice. I want to develop as a specialist and be as
                                    efficient as possible in my new job.
                                </h5>
                            </div>
                        </section>
                        <br>
                        <br>
                        <br>
                        <section>
                            <h4 class="header-background-color">PROJECTS</h4>
                            <div class="right-column-text-font line-spacing">
                                <h5>
                                    <a href="https://github.com/SergeyHodak/JavaDevelopersTeamProjectGroup2">GoIT Notes</a> <br>
                                    The project for writing notes. Command project. Part of the code that is responsible for
                                    checking the entered text with the email form. Review code, other project developers.
                                    Work on entities, migrations. Part of the security, when viewing the note on the links.
                                    Organization of a meeting once a day to discuss what has been done and what needs to be done.<br>
                                    Spring Boot, Gradle, HTML, CSS, Bootstrap, Thymeleaf, PostgeSQL, H2 Database, Heroku.
                                </h5>
                                <br>
                                <h5>
                                    <a href="https://github.com/SergeyHodak/JD5HW8SergeyHodak">Product management</a> <br>
                                    The project for easy work with manufacturers and products.<br>
                                    Spring Boot, Gradle, HTML, Thymeleaf, H2 Database, Bootstrap, Heroku.
                                </h5>
                                <br>
                                <h5>
                                    <a href="https://github.com/SergeyHodak/GoIT_Java_Core_Online_5_Project_1">Telegram Currency Bot</a><br>
                                    A bot that sends the current value of currencies. Need to start it manually. Command project.
                                    Bot registration, settings in the bot phaser, initialization for connecting the bot from the code,
                                    generation of the bot logic diagram, calls, help with the git, recording a video for working with the git,
                                    personal calls to work on some part of the code, explaining the work of some pieces of code to those who
                                    have had difficulty understanding.<br>
                                    Java, REST API, HTTP, Maven.
                                </h5>
                            </div>
                        </section>
                        <br>
                        <br>
                        <br>
                        <section>
                            <h4 class="header-background-color">WORK EXPERIENCE</h4>
                            <div class="right-column-text-font line-spacing">
                                <h5>
                                    Atlant M Dnipro<span class="date">January 2020 - October 2020 | Ukraine/Dnipro</span><br>
                                    Master to repair vehicles<br>
                                    <br>
                                    <div class="indent-the-text">
                                        <li>repair of electrical equipment, Volkswagen cars</li>
                                        <li>maintenance</li>
                                        <li>other mechanic jobs</li>
                                    </div>
                                </h5>
                                <br>
                                <h5>
                                    Interpipe NTZ<span class="date">May 2015 - August 2015 | Ukraine/Dnipro</span><br>
                                    Electro-Mechanic<br>
                                    <br>
                                    <div class="indent-the-text">
                                        <li>repair of starters and generators for: KAMAZ, KrAZ, Gazel</li>
                                        <li>repair of electrical equipment, lighting, trailers</li>
                                    </div>
                                </h5>
                                <br>
                                <h5>
                                    EVRAZ DMZ them. Petrovsky<span class="date">February 2015 - May 2015 | Ukraine/Dnipro</span><br>
                                    Electro-Mechanic<br>
                                    <br>
                                    <div class="indent-the-text">
                                        <li>electrician, electrical equipment repair on trucks: KAMAZ, KrAZ</li>
                                    </div>
                                </h5>
                            </div>
                        </section>
                        <br>
                        <br>
                        <br>
                        <section>
                            <h4 class="header-background-color">EDUCATION</h4>
                            <div class="right-column-text-font line-spacing">
                                <h5>
                                    GO-IT<br>
                                    Java Developer<span class="date">November 2021 - September 2022 | Ukraine/Kyiv</span><br>
                                </h5>
                                <br>
                                <h5>
                                    Kharkiv National Automobile and Highway University (HADI)<br>
                                    Electro-Mechanic (Master's degree)<span class="date">September 2015 - December 2019 | Ukraine/Kharkiv</span><br>
                                </h5>
                            </div>
                        </section>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>